<div class="w3-container w3-card w3-white">
  <h2 class="w3-text-grey w3-padding-16">
    <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
  <div class="w3-container">
    <h5 class="w3-opacity">
      <b>Helwan University , Egypt</b>
    </h5>
    <h6 class="w3-text-teal">
      <i class="fa fa-calendar fa-fw w3-margin-right"></i>2011 - 2015</h6>
    <p>Computer Science Specialist</p>
    <hr>
  </div>

  <div class="w3-container">
    <h5 class="w3-opacity">
      <b>Stanford University</b>
    </h5>
    <h6 class="w3-text-teal">
      <i class="fa fa-calendar fa-fw w3-margin-right"></i>2016 - 2017</h6>
    <p>Software Architecture Design</p>
    <hr>
  </div>

  <div class="w3-container">
    <h5 class="w3-opacity">
      <b>Stanford University</b>
    </h5>
    <h6 class="w3-text-teal">
      <i class="fa fa-calendar fa-fw w3-margin-right"></i>2013</h6>
    <p>Machine Learning Cetified</p>
    <hr>
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity">
      <b>Telecomounication Ministry</b>
    </h5>
    <h6 class="w3-text-teal">
      <i class="fa fa-calendar fa-fw w3-margin-right"></i>2015</h6>
    <p>Project Management Certified</p>
    <br>
  </div>
</div>