<div class="experience-details">
  <div class="container w3-card w3-white">
    <div class="setup">
      <div align="center">
        <h1>
          <p>Experience Details Form</p>
        </h1>
      </div>

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="form-group formInput">
              <label for="fullname">
                <h4><b> Full Name </b></h4>
              </label>
              <div class="input">
                <input
                  type="text"
                  id="fullname"
                  name="fullname"
                  class="form-control"
                  formControlName="fullName"
                />
                <span></span>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="form-group formInput">
              <label for="email">
                <h4><b> Email </b></h4>
              </label>
              <div class="input">
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  style="width: 98%;"
                  formControlName="email"
                />
                <span></span>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="form-group formInput">
              <label for="address">
                <h4><b>Mobile</b></h4>
              </label>
              <div class="input">
                <input
                  type="text"
                  name="mobile"
                  class="form-control"
                  formControlName="mobile"
                />
                <span></span>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="form-group formInput">
              <label for="address">
                <h4>
                  <b>Address</b>
                </h4>
              </label>
              <div class="input">
                <input
                  type="text"
                  name="address"
                  class="form-control"
                  formControlName="address"
                />
                <span></span>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group formInput">
              <label for="titl">
                <h4>
                  <b>Title</b>
                </h4>
              </label>
              <div class="input">
                <input
                  type="text"
                  name="title"
                  class="form-control"
                  formControlName="title"
                />
                <span></span>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="form-group">
                  <label for="dte">
                    <h4>
                      <b>From</b>
                    </h4>
                  </label>
                  <div class="input-group date" data-provide="datepicker">
                    <input
                      type="date"
                      name="from"
                      class="form-control"
                      formControlName="from"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="form-group">
                  <label for="dte">
                    <h4>
                      <b>To</b>
                    </h4>
                  </label>
                  <div class="input-group date" data-provide="datepicker">
                    <input
                      type="date"
                      name="to"
                      class="form-control"
                      formControlName="to"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="input-group" align="left">
              <label for="desc">
                <h4>
                  <b>Addtional Information</b>
                </h4>
              </label>
            </div>
            <div class="input-group">
              <textarea
                rows="6"
                name="jobDesc"
                class="form-control"
                formControlName="jobDesc"
              >
              </textarea>
            </div>
          </div>
        </div>

        <div align="middle" class="form-buttons">
          <div [hidden]="!loginService.userId" align="left" class="back-btn">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              style="background-color: rgb(63, 63, 245);"
              (click)="back()"
            >
              <span>back</span>
            </button>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            <span>Submit</span>
          </button>
        </div>
      </form>

      <!-- <button type="button" class="btn btn-primary"(click)="reset()">Reset Form</button>
      <button type="button" class="btn btn-primary" (click)="addNewForm()">
        <i class="w3-margin-center fa fa-plus"></i>
      </button> -->
    </div>
  </div>
</div>
